.feather, i {
    font-size: 14px;
    height: 1rem;
    color: white;
}

.sidebar-wrapper .menu .sidebar-link>span {
    color: white;
    font-weight: 500;
    margin-left: 1rem;
    opacity: .8;
}

.sidebar-wrapper .menu .sidebar-title {
    padding: 1.5rem 1.8rem 0.5rem;
    font-size: .8rem;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
}
.navbar.navbar-header .dropdown>a svg {
    height: 24px;
    width: 24px;
    color: black;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: var(--bs-breadcrumb-divider, ">");
}
.btn-outline-info {
    color: blue;
    border-color: blue;
    margin-right: 8px;
    background-color: white;
}
.btn-add-cars {
    float: right;
    margin-top: -30px;
}
.btn-outline-info:hover {
    color: rgb(4, 0, 255);
    background-color: #cfd4ed;
}
.btn-outline-info{
    color: #7582e3;
}
.belll {
    display: none;
}
.btn-search {
    background-color: white;
    color: blue;
    border-color: blue;
}
.btn-search:hover {
    color: rgb(4, 0, 255);
    background-color: #cfd4ed;
}
.sidebar-wrapper .menu .sidebar-item.active .sidebar-link {
    background-color: #e8f3ff61;
}

